
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-primary{
  color: rgb(219, 208, 128) !important;
}
.resume-section h1{/*,.resume-section h2, .resume-section h3 */
  color: #162B23;
}
nav.navbar-dark.bg-primary{
  background-color: #162B23;
}

.navbar-nav .nav-item a{
  color: rgb(219, 208, 128);
}
.navbar-nav .nav-item a:hover{
  color: #222;
  background-color: rgb(219, 208, 128);
}

#sideNav .navbar-brand .img-profile {
  /* border: 0.5rem solid rgba(255, 215, 0, 0.3) !important; */
  border-color: rgba(219, 208, 128, 0.2) !important;
}

.social-icons a.social-icon{
  text-decoration: none !important;
}

.social-icons .social-icon:hover{
  background-color: #162B23 !important;
}
